@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(237,241,245);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  border: 0;
  background: transparent;
}

p {
  margin: 0;
}

.swal2-popup.swal2-toast.swal2-show {
  display: flex !important;
  padding: 0.4rem !important;
}

.swal2-html-container {
  margin-left: 0.2rem !important;
}